# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
Testing.py
.streamlit/secrets.toml
OtherDB.py
__pycache__/
*.pyc
__pycache__/db_set.cpython-312.pyc
__pycache__/nav.cpython-312.pyc
*.mp4
.devcontainer
node_modules/